<!-- start aboutus -->
<section class="section-padding about-us-sec p-relative">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">Fundnly</span>
        <span class="line"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-left-side mb-md-40 ">
                    <h3 class="text-custom-black fw-700">LOAN FIRM DEVOTED TO OUR CLIENTS</h3>
                    <p class="text-light-white fs-14 mb-xl-20">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="text-light-white fs-14 mb-xl-20">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="about-list">
                        <ul>
                            <li class="text-light-white fs-14"><i class="fas fa-check"></i> Expert Loan</li>
                            <li class="text-light-white fs-14"><i class="fas fa-check"></i> 100 % Success Rate</li>
                            <li class="text-light-white fs-14"><i class="fas fa-check"></i> No Need Extra Cost</li>
                            <li class="text-light-white fs-14"><i class="fas fa-check"></i>Highly Recommendation</li>
                        </ul>
                    </div>
                    <div class="signature-sec">
                        <div class="signature-right">
                            <h5 class="text-custom-black fw-600">Hamza Shatela</h5>
                            <p class="text-light-white no-margin">Founder of FUNDNLY</p>
                        </div>
                        <div class="signature-left">
                            <img src="assets/images/signature.png" alt="signature">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right-side-img p-relative">
                    <div class="first-img p-relative">
                        <img src="assets/images/aboutus.jpg" class="img-fluid full-width" alt="about us">
                        <div class="transform-center">
                            <div class="text">
                                <h2 class="text-custom-black no-margin">35</h2>
                                <div class="side-text">
                                    <p>Years of
                                        <br>LESS FEE
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-white-skew-2 bg-custom-black"></div>
</section>
<!-- end aboutus -->
<!-- About One section-->
<section class="section-padding about-us-sec p-relative">
    <div class="side-lines right-side"> <span class="box"></span>
        <span class="text">Fundnly</span>
        <span class="line"></span>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 about-sec-bg-1">
                <div class="about-left-side-1">
                    <div class="section-header">
                        <div class="section-heading">
                            <h3 class=" fw-700 text-dark">OUR GRAGOUS HISTORY</h3>
                        </div>
                    </div>
                    <p class="text-light-white fs-14 mb-xl-20">One morning, when Gregor Samsa woke from troubled dreams,
                        he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back,
                        and if he lifted his head a little he could see his brown belly, slightly domed and divided by
                        arches into stiff sections. The bedding was hardly able to cover it..</p>
                    <div class="signature-sec">
                        <div class="signature-right">
                            <h5 class="text-custom-black fw-600">Hamza Shatela</h5>
                            <p class="text-light-white no-margin">Founder of FUNDNLY</p>
                        </div>
                        <div class="signature-left">
                            <img src="assets/images/signature.png" alt="signature">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="full-height">
                    <img src="assets/images/about-4.jpg" class="img-fluid image-fit" alt="about us">
                </div>
            </div>
        </div>
    </div>
    <div class="container about-sec-second">
        <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="full-height ">
                    <img src="assets/images/about-5.jpg" class="img-fluid image-fit" alt="about">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 about-sec-bg">
                <div class="about-left-side-1 p-relative">
                    <div class="section-header">
                        <div class="section-heading">
                            <h3 class=" fw-700 text-dark">SKILLS</h3>
                        </div>
                    </div>
                    <div class="about-desc">
                        <p class="text-light-white mb-xl-20">One morning, when Gregor Samsa woke from troubled dreams,
                            he found himself transformed in his bed into<a routerLink="/about"
                                class="text-custom-blue">Read more</a>
                        </p>
                    </div>
                    <div class="company-progress">
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Practice Area <span>70%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active"></div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Success <span>80%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active"></div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Happy Customers<span>100%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active"></div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Firms Size<span>75%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About-two-section-end-->
<!-- Start About -->
<section class="section-padding bg-gray about-story ">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">A Story To Our Journey</h3>
                <div class="section-description">
                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs square-tabs">
                    <ul ngbNav #nav="ngbNav" class="nav nav-tabs custom p-relative mb-xl-30">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>1990</a>
                            <ng-template ngbNavContent>
                                <div class="tab-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="img-sec mb-md-40">
                                                <img src="assets/images/about-4.jpg" class="full-width" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="content-box">
                                                <h4 class="text-custom-black fw-600">FUNDNLY Firm Devoted to Our Teams
                                                </h4>
                                                <p class="text-light-blue">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text. Lorem Ipsum has been the industry's
                                                    standard dummy text.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text.</p>
                                                <div class="list">
                                                    <ul class="custom">
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                    </ul>
                                                </div> <a routerLink="/about"
                                                    class="btn-first btn-submit text-light-blue">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>2006</a>
                            <ng-template ngbNavContent>
                                <div class="tab-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="img-sec mb-md-40">
                                                <img src="assets/images/about2.jpg" class="full-width" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="content-box">
                                                <h4 class="text-custom-black fw-600">FUNDNLY Firm Devoted to Our Teams
                                                </h4>
                                                <p class="text-light-blue">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text. Lorem Ipsum has been the industry's
                                                    standard dummy text.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text.</p>
                                                <div class="list">
                                                    <ul class="custom">
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                    </ul>
                                                </div> <a routerLink="/about"
                                                    class="btn-first btn-submit text-light-blue">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                            <a ngbNavLink>2010</a>
                            <ng-template ngbNavContent>
                                <div class="tab-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="img-sec mb-md-40">
                                                <img src="assets/images/about-4.jpg" class="full-width" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="content-box">
                                                <h4 class="text-custom-black fw-600">Collaborate With Team Members To
                                                    Rise</h4>
                                                <p class="text-light-blue">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text. Lorem Ipsum has been the industry's
                                                    standard dummy text.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text.</p>
                                                <div class="list">
                                                    <ul class="custom">
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                    </ul>
                                                </div> <a routerLink="/about"
                                                    class="btn-first btn-submit text-light-blue">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="4">
                            <a ngbNavLink>2020</a>
                            <ng-template ngbNavContent>
                                <div class="tab-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="img-sec mb-md-40">
                                                <img src="assets/images/about2.jpg" class="full-width" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="content-box">
                                                <h4 class="text-custom-black fw-600">FUNDNLY Firm Devoted to Our Teams
                                                </h4>
                                                <p class="text-light-blue">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text. Lorem Ipsum has been the industry's
                                                    standard dummy text.</p>
                                                <p class="text-light-white">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text.</p>
                                                <div class="list">
                                                    <ul class="custom">
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                        <li class="fs-14 text-light-blue"> <i class="fas fa-check"></i>
                                                            <span class="text-light-white">Lorem Ipsum</span>
                                                        </li>
                                                    </ul>
                                                </div> <a routerLink="/about"
                                                    class="btn-first btn-submit text-light-blue">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="padding-20 bg-custom-white bx-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<app-advertisement></app-advertisement>
<!-- Start Team -->
<section class="section-padding doctors-team  style-2 p-relative">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">Fundnly</span>
        <span class="line"></span>
    </div>
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">Our Team</h3>
                <div class="section-description">
                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-padding">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="teamConfig" class="doctors-slider">
                    <div ngxSlickItem class="slide-item col-12" *ngFor="let item of teamblock">
                        <div class="doctor-item">
                            <div class="doctor-img mb-xl-20">
                                <img [src]="item.photo" class="full-width" alt="{{item.name}}">
                            </div>
                            <div class="doctor-content">
                                <h6><a routerLink="/team" class="text-custom-black fw-700">{{item.name}}</a></h6>
                                <p class="text-light-white">{{item.designation}}</p>
                                <ul class="custom">
                                    <li *ngFor="let item of item.socialmedia">
                                        <a routerLink="{{item.url}}">
                                            <i class="fab fa-{{item.icon}}"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- End Team -->