<!-- Start Contact -->
<section class="section-padding bg-gray contact-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-4 mb-md-80">
                <div class="contact-form full-height align-self-center bx-wrapper bg-custom-white">
                    <h4 class="text-custom-black fw-600">Get In Touch</h4>
                    <p class="text-light-white no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt.</p>
                    <form class="form-layout-1" (submit)="sendEmail($event)">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-left">Full Name</label>
                                    <input type="text" name="from_name" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-left">Email Address</label>
                                    <input type="email" name="to_email" class="form-control"
                                        placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-left">Phone No.</label>
                                    <input type="text" name="to_phone" class="form-control" placeholder="Phone No.">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-left">Subject</label>
                                    <input type="text" name="to_subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-12 mb-xl-20">
                                <div class="form-group">
                                    <label class="text-left">Message</label>
                                    <textarea rows="5" name="message_html" class="form-control"
                                        placeholder="Write Something"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit"
                                    class="btn-first btn-submit text-light-blue full-width">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <iframe title="map" class="full-width full-height"
                    src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->
<!-- Start Contact Bottom -->
<section class="section-padding bg-gray contact-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let item of contactinfo">
                <div class="contact-info bx-wrapper bg-custom-white text-center mb-md-40">
                    <div class="contact-info-wrapper">
                        <div class="icon mb-xl-20"> <i class="{{item.icon}}"></i>
                        </div>
                        <h5 class="text-custom-black fw-600">{{item.title}}</h5>
                        <p class="text-light-white">{{item.text}}</p>
                        <a href="#" class="fs-14">{{item.info}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Bottom -->